<h1>Stack Overflow - Questions</h1>

<ul>
  <% if @questions.any? %>
  <% @questions.each do |question| %>
    <li>
      <p><%= question.question %> | Author: <%= question.author %> | <%= link_to 'Answer this question', new_question_answer_path(question) %></p>  
    </li>
  <% end %>
</ul>
  <% else %>
    <p>There are no questions yet!</p>
  <% end %>
