<h1>Ask a new question..</h1>

<% if current_user == nil %>
  <p>Please log in to post a question...</p>
<% else %>
  <h3>You are currently logged in as : <%= current_user.email %></h3>
  <br>
  <%= render 'form' %>
<% end %>
