<h1>Account Info</h1>

<p>Account Email: <%= current_user.email %></p>

<h3>Your Questions</h3>

<% current_user.questions.each do |question| %>
  <ul>
    <li><%= question.question %> | <%= link_to "edit this question", question_path(question) %></li>
  </ul>
<% end %>
